[Unit]
Description=LED Controller

[Service]
ExecStart=/led/js/LED-Controller.js -apiname=tisch_leds -stripcontroller=dotstarstripcontroller -spi="/dev/spidev0.0" -ledcount=182
Restart=always
WorkingDirectory=/led/js/

[Install]
WantedBy=multi-user.target